<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>markItUp! preview template</title>
<link rel="stylesheet" type="text/css" href="~/templates/preview.css" />
</head>
<body>
<div class="comment" id="comment-1">		
		<div class="midcol" style="display: block;">
		<a id="recent-link328-up" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-arrow-n"></span></a>
		<a id="recent-link328-down" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-arrow-s"></span></a>
		</div>
	<div class="entry">
			<div class="collapsed" style="display: none;">
			
			<a href="#" class="author submitter">you</a>

						<span class="userattrs"> [<a class="submitter" title="submitter" href="/r/testingmang/comments/efqk3/great_jquery_linkselect_plugin/">S</a>]</span>
						<span class="score dislikes">0</span>
						<span class="score likes">1</span>
						<span class="score total">1 point</span>
						just now
			
			<a href="#" class="expand" title="expand">[+] (0 children)</a>
				
			</div>
		<div class="noncollapsed" style="display: block;">
		<p class="tagline">
			<a href="#" class="author submitter">you</a>

			<span class="userattrs"> [<a class="submitter" title="submitter" href="/r/testingmang/comments/efqk3/great_jquery_linkselect_plugin/">S</a>]</span>
			<span class="score dislikes">0</span>
			<span class="score likes">1</span>
			<span class="score total">1 point</span>
			just now
			<a href="#" class="expand" title="collapse">[-]</a>
		</p>
		<div class="md">
			<div>
			<!-- content -->
			</div>
			
		</div>
		<ul class="flat-list buttons">
		<li class="first"><a href="#" class="bylink" rel="nofollow">permalink</a></li>
		
		</ul>
	 </div>
	</div>
	
	</div>

</body>
</html>
