[production]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0
includePaths.library = APPLICATION_PATH "/../library"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace = "Application"
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.params.displayExceptions = 0
resources.layout.layoutPath = APPLICATION_PATH "/layouts/scripts/"
resources.view[] =
resources.db.adapter = "Pdo_Mysql"
resources.db.params.charset = "utf8"
resources.db.params.host = "localhost"
resources.db.params.username = "DBUSERNAME"
resources.db.params.password = "YOUR-DB-PASSWORD"
resources.db.params.dbname = "linkblab"
remember_me_seconds = 864000
recaptcha_private_key = "PLACE-RECAPTCHA-PRIVATE-KEY-HERE"
recaptcha_public_key = "PLACE-RECAPTCHA-PUBLIC-KEY-HERE"
default_search = "Lots of cute puppies"
empty_search_message = "No results found. Please try your search again."
[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1